#root {
  width: 50vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1 {
  margin-bottom: 30px;
}
input {
  margin-bottom: 20px;
}
span,
button,
input {
  padding: 5px 8px;
}
span,
button {
  cursor: pointer;
  background: hsl(0, 0%, 50%);
  margin-left: 3px;
  border-radius: 5px;
}
span:hover,
button:hover {
  background: hsl(0, 0%, 70%);
}

.todo__list li {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background: hsl(0, 0%, 30%);
  padding: 8px 16px;
  border-radius: 5px;
}
